# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Entornos y variables
# =====================
.env
.env.*
.conda/
.envs/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db

# =====================
# Datos y modelos (NO subir)
# =====================
*.csv
*.xlsx
*.json
*.h5
*.pt
*.pkl

# =====================
# Bases de datos
# =====================
*.db
*.sqlite
